@(user: User, posts: List[Post], pageRange: Range)
<!DOCTYPE html>
<html>
@views.html.head()
    <!-- TODO add js for pagination -->
    <body>
        <div class="container">
            <h1>Posts</h1>
            <hr/>
            <div class="posts">
                @posts.map { post =>
                    @views.html.post(user, post)
                }
            </div>
            <div class="pagination">
                <ul>
                    <li><a href="#">&laquo</a></li>
                    @pageRange.map { x =>
                        <li><a href="@x">@x</a></li>
                    }
                    <li><a href="#">&raquo</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>